<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <form>
      <input type="radio" name="region" value="africa">Africa<br>
      <input type="radio" name="region" value="america">America<br>
      <input type="radio" name="region" value="asia">Asia<br>
      <input type="radio" name="region" value="europe">Europe<br>
      <input type="radio" name="region" value="oceania">Oceania<br>

      <div class="answer"></div>
    </form>
    
  
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
