<!DOCTYPE html>
<html>
  <head>
    <title>Users</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <form>

      name: <input type="text" name="name" required>
      surname:<input type="text" name="surname" required>
      telefon:<input type="text" name="number">
      email:<input type="text" name="email">
      info:<input type="text" name="info">
      <button type="submit">OK</button>

      <div class="answer"></div>
    </form>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.js"></script>
    <script src="/js/users.js"></script>
  </body>
</html>
