 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Numito Sans", sans-serif;
  background-color: var(--body);
  color: hsl(200, 15%, 8%);
  font-size: 14px;
  background: gray;
}
.card{
  border: 1px solid black;
  margin: 3px;
}
.country-header{
  display: flex;
  justify-content: space-around;
}

.cats-card{
  display: flex;
  justify-content: space-between;
  /* height: 500px; */
  width: 500px;
  overflow-x: scroll;
}

.country-info {
  font-weight: 900;
  font-size: 1rem;
}
.cat-name {
  font-weight: 400;
  font-size: 0.5rem;
}
.cat-info {
  width: 30%;
}
.country-name{
  font-weight: 900;
  font-size: 2rem;
}
.countryDetails {
  /*color: white; */
  font-weight: 100;
  /* padding-left: 5%; */
}

.flag-img {
  max-width: 50%;
  min-height: 130px;
  margin: auto;
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.cat-img {
  max-width: 100%;
  min-height: 40px;
  margin: auto;
  display: block;
}
.answer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}





